In [56]:
import pandas as pd

In [57]:
df = pd.read_csv("data/2021-2022-Football-Team-Stats.csv", encoding="latin-1", sep=";")

https://www.kaggle.com/datasets/vivovinco/20212022-football-team-stats

In [58]:
df.head(6)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,...,Pts,Pts/G,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,...,90,2.43,86.1,26.8,59.3,1.60,W W W W D,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,...,86,2.39,84.6,33.1,51.4,1.43,W W W D W,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,...,85,2.30,73.0,45.8,27.2,0.73,W W L W D,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,...,77,2.26,88.1,37.1,51.0,1.50,W W L D D,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,...,83,2.24,71.6,38.1,33.4,0.90,W D D D W,41188,Kylian Mbappé - 25,Keylor Navas
5,6,Milan,ITA,1,37,25,8,4,66,31,...,83,2.24,60.0,34.4,25.6,0.69,W W W W W,42388,Rafael Leão - 11,Mike Maignan

In [59]:
df.describe()

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [60]:
df.columns

Index(['Rk', 'Squad', 'Country', 'LgRk', 'MP', 'W', 'D', 'L', 'GF', 'GA', 'GD',
       'Pts', 'Pts/G', 'xG', 'xGA', 'xGD', 'xGD/90', 'Last 5', 'Attendance',
       'Top Team Scorer', 'Goalkeeper'],
      dtype='object')

In [61]:
df.dtypes

Rk                   int64
Squad               object
Country             object
LgRk                 int64
MP                   int64
W                    int64
D                    int64
L                    int64
GF                   int64
GA                   int64
GD                   int64
Pts                  int64
Pts/G              float64
xG                 float64
xGA                float64
xGD                float64
xGD/90             float64
Last 5              object
Attendance           int64
Top Team Scorer     object
Goalkeeper          object
dtype: object

In [62]:
df = df.drop(columns=['Pts/G','xG', 'xGA', 'xGD', 'xGD/90', 'Last 5'])

In [63]:
df.head(6)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Attendance,Top Team Scorer,Goalkeeper
0,1,Manchester City,ENG,1,37,28,6,3,96,24,72,90,52739,Kevin De Bruyne - 15,Ederson
1,2,Liverpool,ENG,2,36,26,8,2,89,24,65,86,53367,Mohamed Salah - 22,Alisson
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,49,85,40624,Karim Benzema - 27,Thibaut Courtois
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,60,77,33176,Robert Lewandowski - 35,Manuel Neuer
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,49,83,41188,Kylian Mbappé - 25,Keylor Navas
5,6,Milan,ITA,1,37,25,8,4,66,31,35,83,42388,Rafael Leão - 11,Mike Maignan

In [64]:
df[['Top Team Scorer Player','Goals Top Player']] = df["Top Team Scorer"].str.split(" - ",expand=True,)

In [65]:
df.head(6)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Attendance,Top Team Scorer,Goalkeeper,Top Team Scorer Player,Goals Top Player
0,1,Manchester City,ENG,1,37,28,6,3,96,24,72,90,52739,Kevin De Bruyne - 15,Ederson,Kevin De Bruyne,15
1,2,Liverpool,ENG,2,36,26,8,2,89,24,65,86,53367,Mohamed Salah - 22,Alisson,Mohamed Salah,22
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,49,85,40624,Karim Benzema - 27,Thibaut Courtois,Karim Benzema,27
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,60,77,33176,Robert Lewandowski - 35,Manuel Neuer,Robert Lewandowski,35
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,49,83,41188,Kylian Mbappé - 25,Keylor Navas,Kylian Mbappé,25
5,6,Milan,ITA,1,37,25,8,4,66,31,35,83,42388,Rafael Leão - 11,Mike Maignan,Rafael Leão,11

In [66]:
df = df.drop(columns=["Top Team Scorer"])

In [67]:
df.head(6)

,Rk,Squad,Country,LgRk,MP,W,D,L,GF,GA,GD,Pts,Attendance,Goalkeeper,Top Team Scorer Player,Goals Top Player
0,1,Manchester City,ENG,1,37,28,6,3,96,24,72,90,52739,Ederson,Kevin De Bruyne,15
1,2,Liverpool,ENG,2,36,26,8,2,89,24,65,86,53367,Alisson,Mohamed Salah,22
2,3,Real Madrid,ESP,1,37,26,7,4,80,31,49,85,40624,Thibaut Courtois,Karim Benzema,27
3,4,Bayern Munich,GER,1,34,24,5,5,97,37,60,77,33176,Manuel Neuer,Robert Lewandowski,35
4,5,Paris S-G,FRA,1,37,25,8,4,85,36,49,83,41188,Keylor Navas,Kylian Mbappé,25
5,6,Milan,ITA,1,37,25,8,4,66,31,35,83,42388,Mike Maignan,Rafael Leão,11

In [68]:
df.dtypes

Rk                         int64
Squad                     object
Country                   object
LgRk                       int64
MP                         int64
W                          int64
D                          int64
L                          int64
GF                         int64
GA                         int64
GD                         int64
Pts                        int64
Attendance                 int64
Goalkeeper                object
Top Team Scorer Player    object
Goals Top Player          object
dtype: object

In [74]:
df["Goals Top Player"] = df["Goals Top Player"].astype(str).astype('int64')

In [75]:
df.dtypes

Rk                         int64
Squad                     object
Country                   object
LgRk                       int64
MP                         int64
W                          int64
D                          int64
L                          int64
GF                         int64
GA                         int64
GD                         int64
Pts                        int64
Attendance                 int64
Goalkeeper                object
Top Team Scorer Player    object
Goals Top Player           int64
dtype: object